.btn {
  @include font-size(18px);
  display: block;
  margin: 10px auto;
  max-width: 500px;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: transform .25s ease, box-shadow .25s ease;

  @include breakpoint(26em) {
    @include font-size(20px);
  }

  &:hover {
    @include breakpoint(40em) {
      transform: scale(1.05);
    }
  }
}

.btn--gray {
  background-color: $gray-very-dark;
  color: $white;
}
