.some-icons {
  display: flex;
  justify-content: center;
}

.some-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: $icon-size;
  margin: 0 .5em;
  transition: transform .25s ease;
  width: $icon-size;

  &:hover {
    @include breakpoint(40em) {
      transform: translateY(-10%);
    }
  }
}

.some-icon--twitter {
  background: {
    image: url("/img/icon--twitter.svg");
  }
}

.some-icon--github {
  background: {
    image: url("/img/icon--github.svg");
  }
}

.some-icon--linkedin {
  background: {
    image: url("/img/icon--linkedin.svg");
  }
}

.some-icon--hamse {
  background: {
    image: url("/img/icon--hamse.jpg");
  }
  border-radius: 100%;
  display: block;
  height: $icon-size * .75;
  margin: 1em auto;
  width: $icon-size * .75;
}
