.heading--main {
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-transform: none;

  @include breakpoint(26em) {
    @include font-size(32px);
  }

  @include breakpoint(40em) {
    @include font-size(38px);
  }

  @include breakpoint(50em) {
    @include font-size(44px);
  }
}

.heading--subheading {
  @include font-size(22px);

  @include breakpoint(26em) {
    @include font-size(24px);
  }

  @include breakpoint(40em) {
    @include font-size(28px);
  }
}

.text--heading {
  margin-bottom: 20px;
}

.text--bold {
  font-weight: 400;
}

.text-transform--none {
  text-transform: none;
}
