<!doctype html>
<html>
<head>
  <title>{{ layout.title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <link rel='icon' type='image/png' href='/img/favicon.png' />
  <link rel='shortcut icon' type='image/x-icon' href='/img/favicon.ico' />
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>
  {{ content }}
  <footer class="content-block wrapper">
    <div class="some-icons">
      <a href="https://twitter.com/hhaaans" class="some-icon some-icon--twitter"></a>
      <a href="https://github.com/sebastianhamalainen" class="some-icon some-icon--github"></a>
      <a href="https://www.linkedin.com/in/sebastianhamalainen" class="some-icon some-icon--linkedin"></a>
    </div>
  </footer>
</body>
</html>
