---
layout: default
---
{% include header--work.html %}
<section class="content-block wrapper">
  <h1 class="text--heading">{{ page.post-title }}</h1>
  <div class="content-block--side">
    <div class="content-block__text content-block--60">
      {{ content }}
    </div>
    <div class="content-block--40">
      <img class="img-mockup" src="/img/mockup--{{ page.project }}.png" width="500px" alt="{{ page.project}} mockup">
    </div>
  </div>
  <a class="btn btn--red" href="{{ page.project-url }}">visit</a>
</section>
